In [2]:
import numpy as np
import pandas as pd

In [3]:
# Assuming your file has the extension .txt and is tab-separated
file_path = '517947_keystrokes.txt'
# Read the file
df = pd.read_csv(file_path, sep='\t')
# Display the first few rows of the DataFrame
print(df.head())

   PARTICIPANT_ID  TEST_SECTION_ID  \
0          517947          5579521
1          517947          5579521
2          517947          5579521
3          517947          5579521
4          517947          5579521

                                       SENTENCE  \
0  Deportivo have won nothing in their history.
1  Deportivo have won nothing in their history.
2  Deportivo have won nothing in their history.
3  Deportivo have won nothing in their history.
4  Deportivo have won nothing in their history.

                                     USER_INPUT  KEYSTROKE_ID     PRESS_TIME  \
0  Deportivo have won nothing in their history.     264852711  1479124470753
1  Deportivo have won nothing in their history.     264852710  1479124470987
2  Deportivo have won nothing in their history.     264852712  1479124471193
3  Deportivo have won nothing in their history.     264852713  1479124471348
4  Deportivo have won nothing in their history.     264852714  1479124471538

    RELEASE_TIME LETTER  KEYCODE
0  1479124471115  SHIFT       16
1  1479124471052      D       68
2  1479124471254      e       69
3  1479124471433      p       80
4  1479124471633      o       79

2

In [7]:
df

,PARTICIPANT_ID,TEST_SECTION_ID,SENTENCE,USER_INPUT,KEYSTROKE_ID,PRESS_TIME,RELEASE_TIME,LETTER,KEYCODE
0,517947,5579521,Deportivo have won nothing in their history.,Deportivo have won nothing in their history.,264852711,1479124470753,1479124471115,SHIFT,16
1,517947,5579521,Deportivo have won nothing in their history.,Deportivo have won nothing in their history.,264852710,1479124470987,1479124471052,D,68
2,517947,5579521,Deportivo have won nothing in their history.,Deportivo have won nothing in their history.,264852712,1479124471193,1479124471254,e,69
3,517947,5579521,Deportivo have won nothing in their history.,Deportivo have won nothing in their history.,264852713,1479124471348,1479124471433,p,80
4,517947,5579521,Deportivo have won nothing in their history.,Deportivo have won nothing in their history.,264852714,1479124471538,1479124471633,o,79
...,...,...,...,...,...,...,...,...,...
887,517947,5579604,Will you and KB be around this afternoon?,Will you and KB be around this afternoon?,264856890,1479124638058,1479124638126,o,79
888,517947,5579604,Will you and KB be around this afternoon?,Will you and KB be around this afternoon?,264856898,1479124638205,1479124638316,o,79
889,517947,5579604,Will you and KB be around this afternoon?,Will you and KB be around this afternoon?,264856900,1479124638264,1479124638347,n,78
890,517947,5579604,Will you and KB be around this afternoon?,Will you and KB be around this afternoon?,264856904,1479124638504,1479124638822,SHIFT,16
891,517947,5579604,Will you and KB be around this afternoon?,Will you and KB be around this afternoon?,264856902,1479124638621,1479124638760,?,191

In [8]:
image1 = df.iloc[0:419]
image2 = df.iloc[419:]

In [18]:
on_events = image1["PRESS_TIME"]
off_events = image1["RELEASE_TIME"]

In [17]:
for i in range(20,501):
    for

500

In [20]:
len(off_events)

419